* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

:root {
  --brown: #59291C;
  --white: #FFFFFF;
  --yellow: #FAAF18;
  --bege: #F5ECE7;
  --orange: #ED7902;
  --blue: #475993;
}

html {
  font-size: 62.5%;
}

.container {
  width: 100%;
  max-width: 124.9rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

ul {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
}

button {
  all: unset;
  cursor: pointer;
}

header {
  width: 100%;
  height: 9rem;
  background-color: var(--white);
  display: flex;
  align-items: center;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav {
  display: flex;
  gap: 7rem;
}
header nav ul {
  display: flex;
  align-items: center;
  gap: 7.7rem;
}
header nav ul li a {
  display: flex;
  align-items: center;
  gap: 1.1rem;
}
header nav ul li a span {
  color: var(--brown);
  font-family: "Ubuntu", sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  text-transform: uppercase;
}

.s-hero {
  width: 100%;
  height: 62.3rem;
  background: linear-gradient(164deg, rgba(239, 225, 218, 0) 3.82%, #EEE1DA 90.95%);
}
.s-hero .container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.s-hero .left-container {
  padding-top: 12rem;
  flex: 1;
  max-width: 52.7rem;
}
.s-hero .left-container h3 {
  color: var(--yellow);
  font-family: "Ubunto", sans-serif;
  font-size: 3.2rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 2.2rem;
  display: flex;
  gap: 3.7rem;
  align-items: center;
}
.s-hero .left-container h3::after {
  content: "";
  height: 2px;
  flex: 1;
  max-width: 29rem;
  background: url("../img/line.svg") no-repeat center center;
  display: inline-block;
}
.s-hero .left-container .value {
  margin-top: 2.5rem;
  display: flex;
  align-items: center;
  gap: 3.7rem;
  position: relative;
}
.s-hero .left-container .value::after {
  content: "";
  background: url("../img/arrow-btn.svg") no-repeat center center;
  width: 4.3rem;
  height: 3.8rem;
  position: absolute;
  right: -6.7rem;
  top: 3rem;
}
.s-hero .left-container .value h2 {
  color: var(--yellow);
  font-family: "Ubuntu", sans-serif;
  font-size: 6.5rem;
  font-weight: bold;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.s-hero .left-container .value span {
  color: var(--brown);
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 2.3rem;
  letter-spacing: -0.371px;
}
.s-hero .left-container .value button {
  padding: 2.2rem 5.2rem;
  background-color: var(--brown);
  border-radius: 6px;
  box-shadow: 8px 10px 40px 0px rgba(89, 41, 28, 0.6);
  font-family: "Ubuntu", sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--white);
}
.s-hero .right-container {
  flex: 1;
  max-width: 52.8rem;
  background-color: var(--yellow);
  height: 66.3rem;
  border-radius: 0 0 12px 12px;
  padding-top: 9.5rem;
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  justify-content: space-between;
  margin-right: 3rem;
}
.s-hero .right-container .image {
  position: absolute;
  width: 68.4rem;
  height: 49.2rem;
}
.s-hero .right-container .image img {
  position: absolute;
}
.s-hero .right-container .image img.refri {
  left: 0;
  top: 2.5rem;
  z-index: 1;
}
.s-hero .right-container .image img.fritas {
  top: 0;
  right: 0;
  z-index: 1;
}
.s-hero .right-container .image img.lanche {
  left: 5.2rem;
  bottom: 0;
  z-index: 2;
}
.s-hero .right-container .image img.logo {
  right: 1rem;
  bottom: 0.6rem;
  z-index: 3;
}
.s-hero .right-container .offer {
  display: flex;
  align-items: center;
  color: var(--white);
  gap: 1.6rem;
  position: relative;
}
.s-hero .right-container .offer:before {
  content: "";
  width: 8rem;
  height: 1.4rem;
  background: url("../img/line-left.svg") no-repeat center center;
  display: inline-block;
}
.s-hero .right-container .offer::after {
  content: "";
  width: 8rem;
  height: 1.4rem;
  background: url("../img/line-right.svg") no-repeat center center;
  display: inline-block;
}
.s-hero .right-container .offer p {
  color: var(--white);
  font-size: 1.5rem;
  line-height: 2.3rem;
  display: flex;
  align-items: center;
}
.s-hero .right-container .offer p img {
  margin-right: 1.6rem;
}
.s-hero .right-container .offer p strong {
  margin-left: 0.5rem;
}

.s-offer {
  width: 100%;
  height: 20rem;
  background: url("../img/bg-login.png") no-repeat left center;
  padding-top: 4.7rem;
  padding-bottom: 2.3rem;
  display: flex;
  align-items: flex-end;
}
.s-offer .container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.s-offer .left-container {
  display: flex;
  align-items: center;
  gap: 4.1rem;
  flex: 1;
  max-width: 59.7rem;
  justify-content: space-between;
}
.s-offer .left-container h3 {
  color: var(--white);
  font-family: "Ubuntu", sans-serif;
  font-size: 3.2rem;
  font-weight: bold;
  letter-spacing: -0.401px;
  margin-bottom: 0.5rem;
}
.s-offer .left-container h2 {
  color: var(--brown);
  font-family: "Ubuntu", sans-serif;
  font-size: 4.2rem;
  font-weight: bold;
  letter-spacing: -0.652px;
}
.s-offer button {
  flex: 1;
  background-color: var(--white);
  border-radius: 12px;
  margin-right: 3rem;
  max-width: 52.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.9rem;
  padding: 3rem 0;
}
.s-offer button span {
  color: var(--blue);
  font-family: "Ubuntu", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: -0.301px;
}

.s-combos {
  padding: 7rem 0;
}
.s-combos .highlights {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 3.2rem;
}
.s-combos .highlights .box {
  border-radius: 12px;
  background: var(--bege);
  width: 21.8rem;
  height: 14.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.9rem;
}
.s-combos .highlights .box h3 {
  color: var(--white);
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: -0.301px;
  text-transform: uppercase;
}
.s-combos .highlights > .box {
  background-color: var(--yellow);
  width: 26.3rem;
}
.s-combos .highlights ul {
  flex: 1;
  max-width: 92.2rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1.6rem;
}
.s-combos .area-slide {
  margin-top: 6.2rem;
  position: relative;
  height: -moz-fit-content;
  height: fit-content;
}
.s-combos .area-slide .btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 6.6rem;
  height: 6.6rem;
  background-color: var(--yellow);
  z-index: 2;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.s-combos .area-slide .btn.prev {
  left: -33px;
}
.s-combos .area-slide .btn.next {
  right: -33px;
  transform: translateY(-50%) rotate(180deg);
}
.s-combos .area-slide .btn.swiper-button-disabled {
  opacity: 0.6;
  cursor: not-allowed;
  pointer-events: none;
}
.s-combos .area-slide .slide-combos {
  overflow: hidden;
}
.s-combos .area-slide .slide-combos .card-combo {
  width: 100%;
  height: 49.3rem;
  border-radius: 6px;
  overflow: hidden;
  background-color: var(--bege);
}
.s-combos .area-slide .slide-combos .card-combo .image {
  width: 100%;
  height: 34rem;
  overflow: hidden;
  border-bottom: 3px dotted var(--white);
  position: relative;
}
.s-combos .area-slide .slide-combos .card-combo .image > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.s-combos .area-slide .slide-combos .card-combo .image button {
  position: absolute;
  top: 2.5rem;
  right: 2.6rem;
  z-index: 2;
  height: 3.8rem;
  width: 3.8rem;
  background-color: var(--white);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.s-combos .area-slide .slide-combos .card-combo .info {
  padding-top: 3.6rem;
  padding-left: 4.4rem;
}
.s-combos .area-slide .slide-combos .card-combo .info strong {
  color: var(--brown);
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: -0.201px;
  margin-bottom: 1.4rem;
  display: block;
}
.s-combos .area-slide .slide-combos .card-combo .info h3 {
  font-family: "Ubuntu", sans-serif;
  font-size: 3.2rem;
  font-weight: bold;
  letter-spacing: 1.447px;
  text-transform: uppercase;
  color: var(--orange);
}
.s-combos .ctrl {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4.7rem;
}
.s-combos .ctrl .swiper-pagination {
  position: relative;
  bottom: 0;
  width: auto;
}
.s-combos .ctrl .swiper-pagination-bullet {
  opacity: 0.5;
  background-color: var(--yellow);
  transition: all 0.3s ease;
}
.s-combos .ctrl .swiper-pagination-bullet-active {
  opacity: 1;
  background-color: var(--orange);
  transform: scale(1.2);
}
.s-combos .ctrl button {
  display: flex;
  align-items: center;
  gap: 1.4rem;
}
.s-combos .ctrl button span {
  color: var(--yellow);
  font-family: "Ubuntu", sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: -0.176px;
  text-transform: uppercase;
}/*# sourceMappingURL=main.css.map */